{% if 'ngApp' in pageValues %}
    {% set htmlAttr=' ng-app="' + pageValues['ngApp'] + '"' %}
    {% set bodyAttr=' ng-controller="' + pageValues['ngCtrl'] + '"' %}
{% else %}
    {% set htmlAttr='' %}
    {% set bodyAttr='' %}
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Passwort Manager</title>
    {% block script %}
    {% endblock %}
</head>
    <body{{ htmlAttr | safe }}{{ bodyAttr | safe }}>
        <h1>{{ pageValues['header'] }}
            <small>Passwort Manager</small>
        </h1>
        <hr>
        <br>
        {% block content %}
        {% endblock %}
    </body>
    {% block javaScriptCode %}
    {% endblock %}
</html>
