<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Passwort Manager</title>
    {% block script %}
    {% endblock %}
    <link rel="stylesheet" href="/static/style/navbar.css">
</head>
    <!--            NavBar on top of the page                           -->
    <body class="navbar-top-body" {{ pageValues.angularApp() }}{{ pageValues.angularCtrl() }}>
        <table class="navbar-base navbar-top">
            <tr>
                <td class="navbar-ls brandFont">Passwort Manager</td>
                <td class="navbar-cc titleFont">{{ pageValues.header }}</td>
                <td class="navbar-rs">
                    <a class="btn btn-default">Anmelden</a>
                    <a class="btn btn-default">Registrieren</a>
                    <a class="btn btn-default">Abmelden</a>
                </td>
            </tr>
        </table>
        <br>
        <!--                Page content                                -->
        {% block content %}
        {% endblock %}
        {% block navbarBottom %}
        {% endblock %}
     <!--                    JavaScript content                          -->
    {% block javaScriptCode %}
    {% endblock %}
    </body>
</html>
