{% extends 'Base.html' %}

{% block script %}
    <link rel="stylesheet" href="/static/style/bootstrap-3.3.7-dist/css/bootstrap.css">
    <style>
        .labelCol {
            background-color: rgb(240, 240, 240);
        }
        .formTable {
            width: 60%;
            margin: auto;
        }
    </style>
{% endblock %}

{% block content %}
        <form action="/editAccount/0" method="post">
            {{ pageValues.form.id(style="visibility: hidden;") }}
            <table class="table formTable">
                <tr>
                    <td class="labelCol">Id</td>
                    <td>{{ pageValues.account.id }}</td>
                </tr>
                <tr>
                    <td class="labelCol">Anbieter</td>
                    <td>{{ pageValues.form.provider(**{'class':'form-control'}) }}</td>
                </tr>
                <tr>
                    <td class="labelCol">Benutzername</td>
                    <td>{{ pageValues.form.username(**{'class':'form-control'}) }}</td>
                </tr>
                <tr>
                    <td class="labelCol">Passwort</td>
                    <td>{{ pageValues.form.password(**{'class':'form-control'}) }}</td>
                </tr>
                <tr>
                    <td class="labelCol">Passwortlänge</td>
                    <td>{{ pageValues.form.passwordlength(**{'class':'form-control'}) }}</td>
                </tr>
                <tr>
                    <td class="labelCol">Zulässige Zeichen</td>
                    <td>{{ pageValues.form.definedcharacter(**{'class':'form-control'}) }}</td>
                </tr>
                <tr>
                    <td class="labelCol">Sicherheitsfrage</td>
                    <td>{{ pageValues.form.question(**{'class':'form-control'}) }}</td>
                </tr>
                <tr>
                    <td class="labelCol">Antwort auf die Frage</td>
                    <td>{{ pageValues.form.answer(**{'class':'form-control'}) }}</td>
                </tr>
                <tr>
                    <td class="labelCol">Letzte Änderung</td>
                    <td>{{ pageValues.account.lastmodify }}</td>
                </tr>
                <tr>
                    <td class="text-danger">{{ pageValues.form.errors }}</td>
                    <td class="text-center"><input class="btn btn-success" type="submit" value="Speichern"></td>
                </tr>
            </table>
            {{ pageValues.form.csrf_token }}
        </form>
    <br>
    <a class="btn btn-primary" href="/">Startseite</a>
{% endblock %}