{% extends 'Base.html' %}

{% block script %}
    <link rel="stylesheet" href="/static/style/bootstrap-3.3.7-dist/css/bootstrap.css">
    <style>
        .labelCol {
            background-color: rgb(240, 240, 240);
        }
        .formTable {
            width: 60%;
            margin: auto;
        }
    </style>
{% endblock %}

{% block content %}
        <form id="editForm" action="/editAccount/0" method="post">
            {{ pageValues.form.id(style="visibility: hidden;") }}
            {% set form = pageValues.form %}
            <table class="table formTable">
                <tr>
                    <td class="labelCol">{{ form.id.label }}</td>
                    <td>{{ pageValues.account.id }}</td>
                </tr>
                <tr>
                    <td class="labelCol">{{ form.provider.label }}</td>
                    <td>{{ pageValues.form.provider(**{'class':'form-control'}) }}</td>
                </tr>
                <tr>
                    <td class="labelCol">{{ form.username.label }}</td>
                    <td>{{ pageValues.form.username(**{'class':'form-control'}) }}</td>
                </tr>
                <tr>
                    <td class="labelCol">{{ form.password.label }}</td>
                    <td>{{ pageValues.form.password(**{'class':'form-control'}) }}</td>
                </tr>
                <tr>
                    <td class="labelCol">{{ form.passwordlength.label }}</td>
                    <td>{{ pageValues.form.passwordlength(**{'class':'form-control'}) }}</td>
                </tr>
                <tr>
                    <td class="labelCol">{{ form.definedcharacter.label }}</td>
                    <td>{{ pageValues.form.definedcharacter(**{'class':'form-control'}) }}</td>
                </tr>
                <tr>
                    <td class="labelCol">{{ form.question.label }}</td>
                    <td>{{ pageValues.form.question(**{'class':'form-control'}) }}</td>
                </tr>
                <tr>
                    <td class="labelCol">{{ form.answer.label }}</td>
                    <td>{{ pageValues.form.answer(**{'class':'form-control'}) }}</td>
                </tr>
                <tr>
                    <td class="labelCol"><label>{{ pageValues.modelAttribute.lastmodify }}</label></td>
                    <td>{{ pageValues.account.lastmodify }}</td>
                </tr>
            </table>
            {{ pageValues.form.csrf_token }}
            <div class="formTable">
                <ul>
                    {% for error in pageValues.form.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        </form>
{% endblock %}

{% block navbarBottom %}
    <table class="navbar-base navbar-bottom">
        <tr>
            <td class="navbar-ls">
                <a class="btn btn-primary navbar-link" href="/">Startseite</a>
                <a class="btn btn-success navbar-link" onclick="submitForm()">Speichern</a>
            </td>
        </tr>
    </table>
{% endblock %}

{% block javaScriptCode %}
    <script>
        function submitForm() {
            document.getElementById("editForm").submit()
        }
    </script>
{% endblock %}