<!--     inputGroup(formCtrl, placeholder text, identifier string for bootstrap HTML code)        -->
{% macro inputGroup(inputCtrl, placeholder, identifier) %}
    {% set identifier = identifier + '-addon' %}
    <div class="input-group">
        <span class="input-group-addon" id="{{ identifier }}">{{ inputCtrl.label }}</span>
        {{ inputCtrl(class='form-control', placeholder=placeholder, **{'aria-describedby':identifier}) }}
    </div>
    <!-- Error field of form input field.-->
    <div>
        <span class="text-danger">
            {% for error in inputCtrl.errors %}
                {{ error }}
            {% endfor %}
        </span>
    </div>
{% endmacro %}

<!--    searchForm(id for search text field, function string for button onclick)        -->
{% macro searchForm(textId, btnSearchFunc, btnResetFunc, keyPressFunc) %}
    <div class="input-group" style="width: 15em; float: left">
        <input id="{{ textId }}" type="text" class="form-control" placeholder="Suche nach..." ng-keypress="{{ keyPressFunc }}" aria-label="...">
        <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="{{ btnResetFunc }}">x</button>
                <button class="btn btn-success" type="button" ng-click="{{ btnSearchFunc }}">Los!</button>
        </span>
    </div>
{% endmacro %}

<!--    Creates a table row in a form with a label column and a form ctrl column            -->
{% macro tableRowFormCtrl(formCtrl) %}
    <tr>
        <td class="labelCol">{{ formCtrl.label }}</td>
        <td>{{ formCtrl(**{'class':'form-control'}) }}</td>
    </tr>
{% endmacro %}

<!--    Creates a table row with a label column and a value column.                         -->
{% macro tableRowForm(label, value) %}
    <tr>
        <td class="labelCol">{{ label }}</td>
        <td>{{ value }}</td>
    </tr>
{% endmacro %}