{% extends 'Base.html' %}

{% block script %}
    <link rel="stylesheet" href="/static/style/bootstrap-3.3.7-dist/css/bootstrap.css">
    <style>
        .accountTbl {
            width: 60%;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
{% endblock %}

{% block content %}
    <br>
    <table class="table accountTbl">
        <tr class="bg-primary">
            <th>Attribut</th>
            <th>Wert</th>
        </tr>
        {% for attribute in pageValues.modelAttribute.attributeList %}
        <tr {% if attribute == 'password' %}class="bg-warning" {% endif %}>
            <th>{{ pageValues.modelAttribute[attribute] }}</th>
            <td>{{ pageValues.account[attribute] }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block navbarBottom %}
    <table class="navbar-base navbar-bottom">
        <tr>
            <td class="navbar-ls">
                <a class="btn btn-primary navbar-link" href="/">Startseite</a>
                <a class="btn btn-primary navbar-link" href="/editAccount/{{ pageValues.account['id'] }}">Edit</a>
            </td>
        </tr>
    </table>
{% endblock %}
