{% extends 'Base.html' %}

{% block script %}
    <link rel="stylesheet" href="/static/style/bootstrap-3.3.7-dist/css/bootstrap.css">
    <style>
        .accountTbl {
            width: 60%;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
{% endblock %}

{% block content %}
    <br>
    <table class="table accountTbl">
        <tr class="bg-primary">
            <th>Attribut</th>
            <th>Wert</th>
        </tr>
        {% for attribute in pageValues['accountAttributes'] %}
        <tr {% if attribute == 'password' %}class="bg-warning" {% endif %}>
            <th>{{ attribute }}</th>
            <td>{{ pageValues['account'][attribute] }}</td>
        </tr>
        {% endfor %}
    </table>
    <br><br>
    <a class="btn btn-primary" href="/">Zurück zur Liste</a>
{% endblock %}